{% if musicien.Duplicate  %}
  <li class="yellow-text accent-4" title="Attention doublon !">
    <strong>{{musicien.Nom | split(' ')[0]}}</strong>
  </li>
{% else %}
  <li>
    {{musicien.Nom | split(' ')[0]}}
  </li>
{% endif %}
